<html>
  <head>
    <meta charset="utf-8" />
    <title>Hòa Thọ</title>
    <script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>
    <script src="/js/main.js"></script>
  </head>
  <body>

    {{{body}}}

  </body>
</html>